<h1 class="text-5xl font-bold text-pink-500 mb-8 tracking-tight">
  Contentful CMS Product List
</h1>

<ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <li
    *ngFor="let product of products"
    class="bg-white rounded-md shadow-lg overflow-hidden hover:shadow-xl transition-shadow"
  >
    <div class="p-4">
      <h2 class="text-xl font-bold text-purple-500 mb-2">
        {{ product.fields["productName"] }}
      </h2>
      <p class="mb-2">
        {{ product.fields["productDescription"] }}
      </p>
      <div class="text-lg font-bold text-red-500">
        ${{ product.fields["price"] }}.00
      </div>
    </div>
  </li>
</ul>
